{{!< default}}
<div class="archive-section global-section">
	<div class="archive-wrap global-wrap">
		<div class="global-flex">
            <div class="archive-title-wrap global-flex">
                <div class="archive-title-wrap">
                    <h1 class="archive-title global-title">Web Developer | Sound Designer</h1>
                    <p class="archive-description">Hi! I'm Justin, a multi-disciplinary technologist with a love for elegant code and an eye for design. When I'm not talking to computers, I spend my time building interactive auditory worlds, both through theatre and technology. I'm always interested in collaborations, so if my work sounds interesting to you, let's chat!</p>
                </div>
            </div>
        </div>
	</div>
</div>
<div style="margin-top:10px;">
    {{>pinned}}
    {{>loop}}
    {{pagination}}
</div>
<script>
    /* Image Credit */
    console.log("Background image by Duy Hoang on Unsplash")
</script>